<h1>Welcome to CSE Motors!</h1>
<img src="/images/delorean.jpg" alt="delorian hero image">

<h2>DMC Delorean</h2>


<h2>Delorean Upgrades</h2>
<div>

</div>
<h2>DMC Delorean Reviews</h2>
<div>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride of the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The must futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>